*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: aliceblue;
    color: rgb(21, 20, 20);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    color: white;
    padding: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a { 
    color: #E2E8F0;                
}

nav a:hover {
    color: #3B82F6;            
}

.logo{
    font-size: 22px;
    font-weight: 700;
    color: #38BDF8;       
}

a{
    text-decoration: none;
    color: rgb(0, 251, 255);
    font-weight: 500;
    transition: 0.3s;
}
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background: url('images/About.logo.jpeg') no-repeat center center/cover;
    border-radius: 0; 
}

.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.6); 
    z-index: 0;
}

.background{
    width: 100px;
    height: 100px;
}

.hero-text {
    position: relative;
    color: white;
    padding: 20px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
}
.hero-text span {
   color: #38BDF8; 
}
b{
    color: orangered;
}
.hero-text p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    color: #E2E8F0; 
}
.about-content {
    padding: 60px 80px;
}
.container {
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(15, 23, 42, 0.1);
    padding: 40px;
   
}
.container h2{
    color: #0F172A;
    border-left: 4px solid #3B82F6; 
    padding-left: 10px;
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 25px;
    line-height: 1.7;
}

.home {
   text-align: center;
}

.home a:hover{
   color: #0F172A;
}

footer {
    background-color: #0F172A;  
    color: #94A3B8;  
    text-align: center;
    padding: 30px 10px;
    margin-top: 30px;
    height: 100px;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3B82F6;  
    margin-bottom: 10px;
}

.info p {
    margin: 5px 0;
    font-size: 15px;
}

.rights {
    font-size: 14px;
    margin-top: 10px;
    color: #94A3B8;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0 50px;
    }
}